/* CSS Reset */
*
{
	margin: 0px;
	padding: 0px;
}

body > *
{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.8em;
	line-height: 14pt;
}

* > a
{
	text-decoration: none;
	color: #000;
}
	
#navigation
{
	position: absolute;
	top: 46px;
	left: 46px;
	background-color: #FFF;
	width: 248px;
	overflow: none;
	padding-bottom: 30px;
}

#navigation > *
{
	margin: 22px 22px 0 22px;
	list-style: none;
	float: left;
}

#logo 
{
	width: 202px;
	height: 26px;
	margin-top: 30px;
	background: #FFF url('../img/RKD_Logo.png') no-repeat;
}

#navlist
{
	padding: 10px 0;
}

.bold
{
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
}

.footer 
{
	color: white;
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 0 46px 23px 0;
}