*
{
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #000;
}

#splash {
	background: #000 url('../img/splash.png') no-repeat top left;
	position:absolute;
	top: 50%;
	left: 50%;
	width: 1212px;
	height: 200px;
	margin-top: -100px;
	margin-left: -606px;
}